<div *ngFor="let uzenet of errMessage" class="text-center">
  <p style="font-weight: bold;">{{uzenet.text}}</p>
</div>

<br>
<div class="row">
  <div *ngFor="let oszlop of columns" class="col" >
      {{oszlop.text}}
  </div>
</div>
<!-- Fejléc Kiíratás vége -->

<!-- Új rekord felvétele -->
<div  class="row">
  <div *ngFor="let oszlop of oszlopok" class="col" id="fejlec">
      <input [(ngModel)]="newCikk[oszlop]" type="text" class="form-control">
  </div>
  <div *ngFor="let menu of addAddColumn" class="col">
      <button [routerLink]="menu.link" (click)="newData()" type="button" class="btn btn-primary">{{menu.text}}</button>
  </div>
</div>
<br><hr><br>

<!-- Táblázat megjelenítése -->
<div *ngFor="let cikk of cikkek" class="row">
  <div *ngFor="let oszlop of oszlopok" class="col" >
      <input [(ngModel)]="cikk[oszlop]" type="text" class="form-control">
  </div>
  <br>
  <div *ngFor="let menu of addEditColumn " class="nav-item" class="col">
    <button [routerLink]="menu.link" (click)="updateData(cikk)" type="button" class="btn btn-primary">{{menu.text}}</button>
  </div>
  <br>
  <div *ngFor="let menu of addDeleteColumn" class="nav-item" class="col">
    <button [routerLink]="menu.link" (click)="deleteData(cikk)" type="button" class="btn btn-primary">{{menu.text}}</button>
  </div>
  <br>

</div>













